<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Create Activity
        </title>
        <style>
            form{
                display: flex;
                flex-direction: row;
                gap: 20px;
                margin: 10p;
            }
            .container {
                width: 450px;
                height: 450px;
            }
            button{
                margin-top: 100px;
                width: 150px;
                height: 50px;
            }
        </style>
        <!-- <link rel="stylesheet" href="../css/"> -->
    </head>
    <body>
        <h1>Create Activity</h1>
        <div class="content">
            <!--Jarak Olahraga Judul Deskripsi, Waktu tanggal-->
            <form>
                <div class="container">     
                    <h3>Jarak</h3>
                    <input type="text" placeholder="Input jarak.." required>        
                    <h3>Olahraga</h3>
                    <input type="text" placeholder="Input Jenis Olahraga..">        
                    <h3>Judul</h3>
                    <input type="text" placeholder="Input Nama Race..">     
                    <h3>Deskripsi</h3>
                    <textarea placeholder="Input Deskripsi Race.."></textarea>
                </div>      
                <div class="container">
                    <h3>Waktu Mulai</h3> <!--pakai time. klo butuh, ganti type text.-->
                    <input type="time" placeholder="Input Durasi Dari Race.">       
                    <h3>Durasi</h3>
                    <input type="text" placeholder="Input Durasi Lama Race">        
                    <h3>Hari & Tanggal</h3>
                    <input type="date"><!--date input-->

                    <div class="button">
                        <input type="submit">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>