<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/register-style.css">
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <title>TrackFusion</title>
</head>

<body>
  <div class="hero">
    <div class="form-box">
      <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn" onclick="login()">Log In</button>
        <button type="button" class="toggle-btn" onclick="register()">Register</button>
      </div>
      <div class="social-icons">
        <i class='bx bxl-instagram-alt'></i>
        <i class='bx bxl-twitter'></i>
      </div>

      <!-- Form Login -->
      <form id="login" class="input-group" action="/login" method="post">
        <input type="text" class="input-field" placeholder="Email" required>
        <div class="password-field">
          <input type="text" class="input-field" placeholder="Enter Password" required>
          <button type="button" id="toggleLoginPassword" class="toggle-password">Show</button>
        </div>
        <input type="checkbox" class="check-box">
        <span>Remember Password</span>
        <button type="submit" class="submit-btn">Log In</button>
      </form>

      <!-- Form Register -->
      <form id="register" class="input-group" action="/register" method="post">
        <!-- Full Name -->
        <input type="text" class="input-field" placeholder="Full Name" required>
        <!-- Menampilkan error jika ada -->
        <div id="nameError" class="error">Name is required and must be at least 4 characters.</div>

        <!-- Email -->
        <input type="email" class="input-field" placeholder="Email" required>
        <!-- Menampilkan error jika ada -->
        <div id="emailError" class="error">A valid email is required.</div>

        <!-- Password -->
        <div class="password-field">
          <input id="registerPassword" type="password" class="input-field" placeholder="Enter Password" required>
          <button type="button" id="toggleRegisterPassword" class="toggle-password">Show</button>
        </div>
        <!-- Menampilkan error jika ada -->
        <div id="emailError" class="error">Password must be at least 4 characters.</div>

        <!-- Re-Enter Password -->
        <div class="password-field">
          <input type="text" class="input-field" placeholder="Re-Enter Password" required>
          <button type="button" id="toggleRegisterPassword" class="toggle-password">Show</button>
        </div>
        <!-- Menampilkan error jika ada -->
        <div id="emailError" class="error">Re-enter your Password</div>

        <button type="submit" class="submit-btn">Register</button>
      </form>
    </div>
  </div>

  <script src="/js/register-script.js"></script>

</body>

</html>